<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VQA_test</title>
</head>
<body>
    <h1>Welcome to VQA web app</h1>
    <h2>EC601 A1 Team2</h2>
    <ul>
      <li>Xin Wang</li>
      <li>Songlan Wang</li>
      <li>Wangyi Chen</li>
    </ul>
    <a href="/wait_photo"><button class='btn btn-default'>Press to Start</button></a>
</body>
</html>